{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% for field in fields %}
    <p style="width: 100%; height: 150px; font-size: 100px; font-family: Arial">{{ field.name }}: {{ field.count }}</p>
{% endfor %}
{% endblock %}